.contact-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include respond(tab-port) {
    flex-direction: column;
    
  }

  h2 {
    text-transform: uppercase;
  }

  &-content {
    border: 2px solid $white-off;
    padding: 1em;
    margin: 1em;
    width: 50%;
    border-radius: 5px;
    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }
  }

}