$color-giftcard-shadow: rgba(0, 0, 0, 0.05);

.grid-box {
  background: white;
  box-shadow: 1px 1px 1px $color-giftcard-shadow;
}

.image-grid {
  display: flex;
  padding: 2em 5em;
  justify-content: center;
  // margin-bottom: 51px;

  @include respond(tab-land) {
    display: block;
    padding: 2em;
  }



  &-left {
    width: 60%;

    @include respond(tab-land) {
      width: 100%;
    }

    &-logo {
      @include respond(tab-land) {
        text-align: center;
      }
    }

    &-title {
      font-weight: 700;
      font-size: 1.6em;
      padding: 1em 0;
    }
  }

  &-right {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include respond(tab-land) {
      margin-top: 2em;
      width: 100%;
    }

    &-img {
      height: 176px;
      width: 176px;
      overflow: hidden;
      padding: .3em;

      @include respond(tab-land) {
        height: 150px;
        width: 150px;
      }

      img {
        height: 100%;
      }
    }
  }
}

.social-links {
  position: relative;
  width: 100%;
  margin-bottom: 51px;
  padding: 2em;
  
  &--list {
    list-style: none;
    display: flex;
    justify-content: center;

   li {
     padding: 5px;
   }
  }
}