.shop {
  display: flex;
  width: 100%;
  background: #fff;
  padding: 2em;

  // Left Screen
  &-menu {
    padding: 10px;
    width: 20%;
    a {
      color: #000;

    }

    &--title {
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase;
    }
    &--subtitle {
      font-weight: 100;
      font-size: 26px;
      padding-bottom: 1.1em;
    }

    &--categories {
      &-items {
        font-size: 14px;

        &-list {
          padding-bottom: 20px;
          display: flex;
          align-items: center;
          height: 36px;
          padding: 2% 5px;


          &:hover {
            background: #37489e5d;
            transition: all 0.3s ease;
          }

          &-item {
            letter-spacing: -0.04em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            text-transform: capitalize;
          }
        }
      }
    }
  }

  // Right Screen
  &-products {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-item {
      width: 30%;
    }
  }
}

.b-border {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding: 20px 0;
}
