.comic-card {
  height: 334px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin: 5px;
  filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.2));
}

@media only screen and (max-width: 62.5em) {
  .comic-card {
    height: 312px;
  }
}

.comic-card-info {
  position: absolute;
  top: 65%;
  left: 0;
  z-index: 110;
  width: 100%;
  height: 40%;
  background: rgba(0, 0, 0, 0.55);
  color: white !important;
  font-size: 16px;
}

.comic-card-info-vender {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  padding: 3px;
  background: #4D72B8;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px -3px 6px 1px rgba(51, 51, 51, 0.15);
}

.comic-card-info-title {
  width: 100%;
  padding: 5px;
  text-align: center;
  font-weight: 700;
  display: block;
}

.comic-card-img img {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@media only screen and (max-width: 62.5em) {
  .comic-card-img img {
    min-width: 100%;
    min-height: 100%;
  }
}

.comic-card-overlay {
  position: absolute;
  opacity: 0;
  top: 2%;
  left: 0;
  width: 100%;
  height: 1000%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0);
  transition: all 0.15s ease-in-out;
}

.comic-card-overlay:hover {
  opacity: 1;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
}

.comic-card-overlay-btn {
  position: relative;
  top: 3%;
  left: 50%;
  transform: translate(-45%);
  background: #006eff;
  padding: 10px 30px;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
}

.grid-box {
  background: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}

.image-grid {
  display: flex;
  padding: 2em 5em;
  justify-content: center;
}

@media only screen and (max-width: 75em) {
  .image-grid {
    display: block;
    padding: 2em;
  }
}

.image-grid-left {
  width: 60%;
}

@media only screen and (max-width: 75em) {
  .image-grid-left {
    width: 100%;
  }
}

@media only screen and (max-width: 75em) {
  .image-grid-left-logo {
    text-align: center;
  }
}

.image-grid-left-title {
  font-weight: 700;
  font-size: 1.6em;
  padding: 1em 0;
}

.image-grid-right {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

@media only screen and (max-width: 75em) {
  .image-grid-right {
    margin-top: 2em;
    width: 100%;
    justify-content: center;
  }
}

.image-grid-right-img {
  height: 176px;
  width: 176px;
  overflow: hidden;
  padding: 0.3em;
}

@media only screen and (max-width: 75em) {
  .image-grid-right-img {
    height: auto;
    width: auto;
  }
}

.image-grid-right-img img {
  height: 100%;
}

.social-links {
  position: relative;
  width: 100%;
  margin-bottom: 51px;
  padding: 2em 5em;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 75em) {
  .social-links {
    flex-direction: column;
    padding: 1em;
  }
}

.social-links--review-links {
  width: 50%;
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 75em) {
  .social-links--review-links {
    width: 100%;
  }
}

.social-links--review-links ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-links--review-links ul li {
  padding: 0 5px;
}

.social-links--social-icons {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

@media only screen and (max-width: 75em) {
  .social-links--social-icons {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }
}

.social-links--social-icons li {
  padding: 5px;
}

.menu-item {
  display: flex;
  width: 126%;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 3px 0;
  border-left: 4px solid #3f52a800;
}

.menu-item:hover {
  border-left: 4px solid #3f52a851;
  transition: all 0.2s;
}

.menu-item--left {
  width: 20%;
}

.menu-item--left-img {
  width: 40px;
  height: 45px;
  overflow: hidden;
}

.menu-item--left-img img {
  width: 100%;
}

.menu-item--right {
  width: 76%;
  padding: 10px;
}

.email-subscription {
  display: flex;
  background: #fff;
  margin-bottom: 51px;
  padding: 3em;
}

@media only screen and (max-width: 75em) {
  .email-subscription {
    flex-direction: column;
    padding: 1em;
  }
}

.email-subscription--left {
  border: 1px solid rgba(0, 0, 0, 0.35);
  width: 43%;
  border-radius: 5px;
  padding: 12px;
  background: #F0F5FF;
}

@media only screen and (max-width: 75em) {
  .email-subscription--left {
    width: 100%;
  }
}

.email-subscription--right {
  width: 57%;
  padding: 5px;
  font-weight: 700;
  font-size: 1.7em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 75em) {
  .email-subscription--right {
    width: 100%;
  }
}

.email-subscription--right p {
  width: 76%;
}

@media only screen and (max-width: 75em) {
  .email-subscription--right p {
    width: 100%;
  }
}

.shop {
  display: flex;
  width: 100%;
  background: #fff;
  padding: 2em;
}

@media only screen and (max-width: 62.5em) {
  .shop {
    padding: 0;
  }
}

.shop-menu {
  padding: 10px;
  width: 20%;
}

.shop-menu a {
  color: #000;
}

@media only screen and (max-width: 62.5em) {
  .shop-menu {
    width: 42%;
  }
}

.shop-menu--title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.shop-menu--subtitle {
  font-weight: 100;
  font-size: 26px;
  padding-bottom: 1.1em;
}

.shop-menu--categories-items {
  font-size: 14px;
}

.shop-menu--categories-items-list {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  height: 36px;
  padding: 2% 5px;
}

.shop-menu--categories-items-list:hover {
  background: #37489e5d;
  transition: all 0.3s ease;
}

.shop-menu--categories-items-list-item {
  letter-spacing: -0.04em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-transform: capitalize;
}

.shop-products {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 62.5em) {
  .shop-products {
    width: 48%;
  }
}

.shop-products-item {
  width: 30%;
}

@media only screen and (max-width: 62.5em) {
  .shop-products-item {
    width: 100%;
  }
}

.b-border {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding: 20px 0;
}

.new-releases {
  min-height: 40vh;
}

.new-releases-item {
  width: 33%;
}

@media only screen and (max-width: 62.5em) {
  .new-releases-item {
    width: 100%;
  }
}

.new-releases-date {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}

.new-releases-menu {
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

@media only screen and (max-width: 62.5em) {
  .new-releases-menu {
    font-size: 12px;
  }
}

.new-releases-menu-btn {
  background: #006eff;
  width: 8em;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
}

.new-releases-menu-numbers {
  padding: 5px 20px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-releases-menu-numbers div {
  padding: 0 5px;
}

.new-releases--comic-img {
  margin: auto;
  padding: 10px;
}

.new-releases--comic-img img {
  width: 155px;
  height: 233px;
}

.new-releases-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.new-releases-list-item {
  width: 33%;
}

.arrow_box {
  position: relative;
  border: 4px solid #37499e;
  width: 70px;
  background-color: #37499e;
  text-align: center;
  margin: 1.5em;
}

.arrow_box a {
  color: #fff;
}

.arrow_box:after,
.arrow_box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #37499e;
  border-width: 30px;
  margin-top: -30px;
}

.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-width: 36px;
  margin-top: -36px;
}

.loading {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #006eff;
  /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  margin: auto;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

